body {
    background: #f6f3eb;
    font-family: "Open Sans", sans-serif;
    color: #384d9d;
    font-size: 5vh;
}
.pushme {
    position: relative;
    font-weight: 700;
    /* background-color: rgba(196, 204, 235, 0.205); */
    /* border-radius: 0.6em; */
    /* border-radius: 20%; */
    display: inline-block;
    margin: 1em;
}
.pushme .inner {
    display: inline-block;
    background-color: rgb(246, 243, 235);
    /* border-radius: 0.6em; */
    border-radius: 5%;
    border: 0.3em solid #d88a8a31;
    padding: 0.4em;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.8;
    transition: 0.3s;
}

.inner:hover {
    opacity: 1;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    text-align: center;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.sig {
    position: fixed;
    bottom: 5px;
    right: 5px;
    /* left: 5px; */
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.4);
}

.fa-twitter {
    font-size: 1rem;
    color: #1da1f2;
    position: fixed;
    bottom: 5px;
    right: 115px;
}

#hex {
    color: white;
}